@import "../../shared/styles/card";

.error {
  color: #ed5565;
  margin-top: 0.5rem;

  &.form-error {
    border: 1px solid #ed5565;
    padding: 10px;
    border-radius: 3px;
    max-width: 300px;
    line-height: 1.25;
  }
}

.main-container{
  max-width: 700px;
}